body {
    background-color: #00cc99;
}

p {
  display: block;
  font-family: 'Jost',sans-serif; 
    font-size: 16px;
}

h1, h2, li {
  display: block;
  font-family: 'Jost',sans-serif; 
    font-size: 18px;
    font-style: bold;

}

<hr style="height:2px;border-width:0;color:gray;background-color:gray">

/* Style the navigation menu */
.topnav {
  overflow: hidden;
  background-color: #03a57c;
  position: relative;
font-family: 'Jost',sans-serif; 
    font-size: 15px;
    font-style: bold;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
  display: none;
}

/* Style navigation menu links */
.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
font-family: 'Jost',sans-serif; 
font-size: 17px;


}

/* Style the hamburger menu */
.topnav a.icon {
  background: ;
  display: block;
  position: absolute;
  right: 10;
  top: 10;
    
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
  background-color: ;
  color: black;
font-weight: bold;
}

/* Style the active link (or home/logo) */
.active {
  background-color: #03a57c;
  color: white;
}