body {
    background-color: #00cc99;
}

p {
  display: block;
  font-family: Verdana, Geneva, sans-serif; 
    font-size: 12px;
}

h1, h2, li {
  display: block;
  font-family: Verdana, Geneva, sans-serif; 
    font-size: 12px;
    font-style: bold;
}

<hr style="height:2px;border-width:0;color:gray;background-color:gray">

