body {
    background-color: #00cc99;
    
    }

#header ul {

 list-style: none;
    
font-family: 'Jost', sans-serif;

 margin: 12px;

 padding: 0;

}

#header ul li a {

 background-color: #b3ffec;

 border: 1px solid #999999;

 color: #222222;

 display: block;

 font-size: 12px;

 font-weight: bold;

 font-family: 'Jost', sans-serif;

 margin-bottom: -1px;

 padding: 12px 10px;

 text-decoration: none;

}

h1, h2 {
  display: block;
  font-family: 'Jost',sans-serif; 
    font-size: 15px;
    font-style: bold;
}

p {
  display: block;
  font-family: 'Jost', sans-serif; 
    font-size: 12px;
    
    }
